@font-face {
    font-family: attila;
    src: url("assets/attila.ttf");
}

@font-face {
    font-family: gilroy;
    src: url("assets/Gilroy-Thin.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #191A1F;

}

#main {
    position: relative;
}

#page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: "gilroy";

}

nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 3vw;
    z-index: 999999999;


}

nav .logo-part {
    display: grid;
    grid-template-columns: auto auto;

}

nav .logo-part span {
    text-transform: uppercase;
    color: white;
    line-height: 3.3vh;
    font-size: 1.8vw;
    margin: 0 1px;
    font-family: "attila" !important;

}

nav .links-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

nav .links-part a {
    text-decoration: none;
    color: white;
    font-weight: 200;

}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
}

.main-text h1 {

    filter: drop-shadow(1vw 1vw 1vw black);
    font-family: "attila";
    overflow: hidden;

}

.sub-text {
    position: absolute;
    top: 65vh;
    left: 60%;
    display: inline-block;
    color: white;
}

.sub-text h4 {
    font-weight: 100;
    font-size: 1vw;
}

.social-media-icons {
    position: absolute;
    bottom: 10vh;
    left: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999999;
}

.social-media-icons i {
    color: white;
    font-size: 1.5vw;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: "gilroy";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

.img-container {
    position: relative;
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    left: 15%;
}

.img-animate {
    height: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.img-animate1 {
    height: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

#img-div1 {
    position: relative;
    width: 20vw;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1813466/pexels-photo-1813466.jpeg?auto=compress&cs=tinysrgb&w=600");
    filter: drop-shadow(1vw 1vw 1vw black);
    border-radius: 5px;


}

#img-div2 {
    position: relative;
    width: 25vw;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2467287/pexels-photo-2467287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    filter: drop-shadow(1vw 1vw 1vw black);
    border-radius: 5px;


}


#img-div3 {
    position: relative;
    width: 20vw;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/5531659/pexels-photo-5531659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    filter: drop-shadow(1vw 1vw 1vw black);
    border-radius: 5px;

}

#page2>h2 {
    font-family: "attila";
    font-size: 5vw;
    position: relative;
    display: inline-block;
    left: 35%;
    top: -10%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    filter: drop-shadow(1vw 1vw 1vw black);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

.center-elems {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    top: -5vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

.center-elems p {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 1.3vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

.center-elems button {
    text-decoration: none;
    border: none;
    background-color: #191A1F;
    color: white;
    filter: drop-shadow(1vw 1vw 1vw black);
    height: 7vh;
    width: 17vw;
    font-size: 1.5vw;
    font-weight: 200;
    font-family: "gilroy";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;



}

#page3 {
    height: 100vh;
    width: 100vw;
    font-family: "gilroy";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;



}

#about {
    position: relative;
    color: white;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    font-family: "attila";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

#about h2 {
    position: relative;
    top: -5vh;
    font-size: 5vw;
    text-transform: uppercase;
    filter: drop-shadow(.5vw .5vw .5vw black);
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

#about p {

    font-weight: 200;
    font-family: "gilroy";
    font-size: 1.3vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}


#about button {
    background-color: #191A1F;
    border: none;
    color: white;
    height: 7vh;
    width: 13vw;
    filter: drop-shadow(.5vw .5vw .5vw black);
    font-family: "gilroy";
    font-weight: 200;
    font-size: 1.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}



footer {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "gilroy";
    font-weight: 200;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

#left {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 4vh;
    font-family: "gilroy";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;



}


#left h2 {
    text-transform: uppercase;
    font-size: 3vw;
    font-family: "attila";
    filter: drop-shadow(.5vw .5vw .5vw black);
    position: relative;
    top: -3vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

address h4 {
    font-weight: 400;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

.phone h4 {
    font-weight: 400;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

.email h4 {
    font-weight: 400;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

#right {
    height: 100%;
    width: 50vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

#contact-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    text-align: center;
    color: white;
    background-color: #1c1d23;
    filter: drop-shadow(1vw 1vw 1vw black);
    height: 80vh;
    width: 40vw;
    bottom: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

#contact-form h2 {
    font-family: "attila";
    font-size: 3vw;
    text-transform: uppercase;
    filter: drop-shadow(.5vw .5vw .5vw black);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;



}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    text-align: center;
    color: white;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

form input {
    position: relative;
    text-decoration: none;
    background-color: #1c1d23;
    border: none;
    border-bottom: 1px solid rgb(255, 248, 235);
    font-size: 1.5vw;
    color: white;
    width: 35vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

::placeholder {
    color: white;
}

form input:hover {
    border: none !important;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}


#submit {
    filter: drop-shadow(1vw 1vw 1vw black);
    border: none;
    height: 7vh;
    width: 13vw;
    margin-top: 5vh;
    color: white;
    font-weight: 200;
    font-family: "gilroy";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;


}

@media only screen and (max-width:500px) {

    nav {
        padding: 4vh 8vw;
    }

    nav .links-part {
        width: 55vw;
    }

    nav .logo-part span {
        font-size: 4.8vw;
    }
    nav .links-part a{
        font-weight: 900;
        font-size: 4vw;
    }

    #page1 {
        height: 85vh;
    }

    .main-text {
        width: 78vw;
        font-size: 12vw;
    }

    .sub-text h4 {
        font-size: 3.5vw;
        right: 4vh;
        position: relative;
    }

    .social-media-icons i {
        font-size: 4.5vw;
    }

    #page2 {
        height: initial;
    }

    .img-container {
        left: 10%;
        width: 80%;
        height: 28.8vh;
    }

    #img-div1 {
        height: 17vh;
    }

    #img-div2 {
        height: 22vh;
    }

    #img-div3 {
        height: 17vh;
    }


    #page2>h2 {
        left: 29vw;
        font-size: 7vw;
    }

    .center-elems p {
        position: relative;
        font-size: 3.4vw;
        width: 80vw;
        top: 10vh;
    }

    .center-elems button {
        font-size: 3.5vw;
        position: relative;
        width: 46vw;
        top: 10vh;
    }

    #page3 {
        height: initial;
    }

    #about h2 {
        font-size: 10vw;
    }

    #about p {
        font-size: 3.4vw;
        width: 80%;
        text-align: center;
    }

    #about button {
        width: 40vw;
        font-size: 4vw;
    }

    #about {
        margin-bottom: 55vh;

    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 45vh;
        padding-top: 2vh;
    }

    #left{
        width: 80vw;
    }
    #left h2 {
        font-size: 10vw;
        top: initial;
    }

    #left p{
        width: 90vw;
        font-size: 3.4vw;
    }

    #contact-form {
        width: 80vw;
        height: 55vh;
        position: relative;
        left: -15vw;
        margin-bottom: 5vh;
        top: 5vh;

    }

    form input {
        width: 50vw;
        font-size: 3.7vw;
    }

    #contact-form h2 {
        font-size: 6vw;
    }

    #submit {
        width: 40vw;
        font-size: 4vw;
    }

}